Source: linux-pinenote
Section: kernel
Priority: optional
Maintainer: Maximilian Weigand <mweigand@mweigand.net>
# Uploaders:
# Jonas Smedegaard <dr@jones.dk>,
Standards-Version: 4.6.2
Build-Depends:
 debhelper-compat (= 13),
Rules-Requires-Root: no
Homepage: https://www.kernel.org/
# Vcs-Browser: https://salsa.debian.org/tinker-team/linux-pinenote
#V cs-Git: https://salsa.debian.org/tinker-team/linux-pinenote.git

Package: linux-image-pinenote-stable
Architecture: all
Provides:
 linux-image-generic,
Depends:
 linux-image-6.9.0-pinenote-202407091753-gc07ecb4d29c8,
 linux-headers-pinenote-stable
Description: Linux for the PineNote (meta-package)
 This package depends on the latest Linux kernel and modules
 for use on the PineNote.
Conflicts: linux-image-pinenote-testing

Package: linux-headers-pinenote-stable
Architecture: all
Provides:
 linux-headers-generic,
Depends:
 linux-headers-6.9.0-pinenote-202407091753-gc07ecb4d29c8,
Description: Header files for Linux PineNote configuration (meta-package)
 This package depends on the architecture-specific header files
 for the latest Linux kernel PineNote configuration.

Package: linux-image-pinenote-testing
Architecture: all
Provides:
 linux-image-generic,
Depends:
 linux-image-6.9.0-pinenote-202407091753-gc07ecb4d29c8,
 linux-headers-pinenote-testing
Description: Linux for the PineNote (meta-package)
 This package depends on the latest Linux kernel and modules
 for use on the PineNote.
Conflicts: linux-image-pinenote-stable

Package: linux-headers-pinenote-testing
Architecture: all
Provides:
 linux-headers-generic,
Depends:
 linux-headers-6.9.0-pinenote-202407091753-gc07ecb4d29c8,
Description: Header files for Linux PineNote configuration (meta-package)
 This package depends on the architecture-specific header files
 for the latest Linux kernel PineNote configuration.
